{% extends 'base.html' %}
{% block content %}
<div class="cards">

     <div class="card-2">
      <j>Qız Qalası</j>
      <div class="qizqalasi-2">
          Qız Qalası, Azərbaycanda, Bakının İçərişəhər ərazisində yerləşən məşhur tarixi abidədir. VIII–XII əsrlərə aid olduğu düşünülür və şəhərin simvollarından biridir. Qala yüksək, silindrik formaya malikdir və əsasən müdafiə məqsədi üçün tikilmişdir. Onun ətrafında müxtəlif əfsanələr dolaşır; ən məşhuru, bir şahın qızını bu qalada saxladığı və sevgilisi ilə görüşə bilmədiyi hekayəsidir. Bu abidə UNESCO-nun Dünya İrs Siyahısına daxil olan İçərişəhərin bir hissəsidir və turistlər üçün önəmli bir məkandır.
         </div>
      <div class="sekil-2"></div>
     </div>
    
          <div class="card-1">
      <m>Atəşgah</m>
      <div class="atesgah-2">
      Atəşgah, Azərbaycanın Şamaxı rayonunun Cəvahirl kəndi yaxınlığında yerləşən qədim atəşpərəst məbəddir. O, əsasən Zərdüştlük dini üçün tikilmiş və burada təbii qazın alışması nəticəsində daimi atəş yanıb. Məbədin divarlarında yazılar və təsvirlər tapılmış, bu da onun həm dini, həm də mədəni əhəmiyyətini göstərir. Bu gün Atəşgah, ölkənin məşhur tarixi abidələrindən biri kimi turistlər tərəfindən ziyarət olunur.
      </div>
      <div class="sekil-1"></div>
        
     </div>

          <div class="card-3">
      <n>İçərişəhər</n>
            <div class="iceriseher-2">
      İçərişəhər, Bakının ən qədim yaşayış məskəni və Azərbaycanın tarixə açılan canlı muzeyidir. Burada dar küçələr, qədim daş evlər, karvansaralar və Qız Qalası kimi məşhur abidələr yerləşir. İçərişəhər keçmişdə mühüm ticarət mərkəzi olmuş və Şərq memarlığı ilə Qərb təsirlərini özündə birləşdirən unikal üsluba sahibdir. Bu gün UNESCO Dünya İrs Siyahısına daxil edilən İçərişəhər həm yerli sakinlər, həm də turistlər üçün böyük tarixi və mədəni dəyər daşıyır.
            </div>
      <div class="sekil-3"></div>

     </div>

          <div class="card-4">
            <o>Şuşa Qalası</o>
            <div class="susaqalasi">
              Şuşa qalası XVIII əsrdə Pənahəli xan tərəfindən Şuşanı qorumaq üçün inşa edilmiş möhkəm istehkamdır. Sıldırım qayalıqlar üzərində salındığı üçün şəhərin müdafiəsində böyük rol oynamışdır. Qalanın divarları klassik Şərq istehkam üslubunu əks etdirir və şəhərin tarixi görünüşünün əsas hissəsidir. Bu gün Şuşa qalası Qarabağın mədəni irsinin vacib simvolu sayılır və şəhərə gələnlərə onun qədim tarixi haqqında aydın təsəvvür yaradır.
            </div>
            <div class="sekil-4"></div>
     </div>

          <div class="card-5">
            <g>Möminə Xatun Türbəsi</g>
            <div class="mominexatun">
              Möminə Xatun Türbəsi XII əsrdə Naxçıvanda memar Əcəmi Naxçıvani tərəfindən Naxçıvanşahlar dövlətinin hökmdarı Şəmsəddin Eldənizin həyat yoldaşı Möminə Xatunun xatirəsinə ucaldılmışdır. Onbucaqlı formaya malik olan türbə zəngin naxışları, kufi kitabələri və zərif memarlıq üslubu ilə seçilir. Tikili həm Azərbaycan memarlığının qızıl dövrünün nümunəsi, həm də Şərq memarlıq ənənələrinin parlaq göstəricilərindən biridir. Bu gün Möminə Xatun Türbəsi Naxçıvanın ən tanınmış abidələrindən sayılır və bölgənin tarixi-mədəni irsini özündə yaşadan qiymətli sənət əsəridir.
            </div>
            <div class="sekil-5"></div>

     </div>

          <div class="card-6">
            <x>Şirvanşahlar Sarayı</x>
            <div class="sirvanshlar">
              Şirvanşahlar Sarayı XV əsrdə Bakının İçərişəhərində Şirvanşah hökmdarlarının iqamətgahı kimi inşa olunmuş böyük memarlıq kompleksidir. Kompleksə saray binası, Divanxana, Şah türbəsi, məscid və digər tikililər daxildir və hamısı Şirvan-Absheron üslubunun zərif daş işləmələri ilə seçilir. Saray dövrünün siyasi və mədəni mərkəzlərindən biri olmuş və bu gün də Azərbaycan memarlıq irsinin ən qiymətli nümunələrindən sayılır.
            </div>
            <div class="sekil-6"></div>
     </div>

          <div class="card-7">
            <h>Şəki Xan Sarayı</h>
            <div class="xansarayi">
              Şəki Xan Sarayı XVIII əsrdə Şəki xanlarının iqamətgahı kimi tikilmiş və Azərbaycan memarlığının ən parlaq incilərindən biridir. Saray özünün şəbəkə pəncərələri, divar rəsmləri və incə naxışları ilə seçilir. Binanın fasadı və interyeri Şərq memarlıq ənənələrini əks etdirir və tamamilə taxta birləşmələrlə, mismardan istifadə edilmədən qurulmuşdur. Şəki Xan Sarayı həm memarlıq, həm də dekorativ sənət baxımından böyük dəyərə malikdir və bu gün UNESCO Dünya İrs Siyahısına daxil edilmiş Şəkinin ən məşhur tarixi abidələrindən biridir.
            </div>
            <div class="sekil-7"></div>
     </div>

          <div class="card-8">
            <e>Yanardağ</e>
            <div class="yanardag">
              Yanardağ Abşeron yarımadasında, Bakının yaxınlığında yerləşən və əsrlərdir sönmədən yanan təbii qaz alovları ilə tanınan unikal təbiət abidəsidir. Təpənin səthi boyunca çıxan qaz təbəqələri yer üzünə sızaraq fasiləsiz alov yaratdığı üçün ərazi “əbədi odlar yeri” kimi də məşhurdur. Yanardağ həm qədim dövrlərdə odapərəstlər üçün müqəddəs məkan olmuş, həm də günümüzdə Azərbaycanın təbiət möcüzələrindən biri kimi turistlərin diqqətini çəkən məşhur diyar sayılır.
            </div>
            <div class="sekil-8"></div>
     </div>

          <div class="card-9">
            <z>Aşağı Gövhər Ağa Məscidi</z>
            <div class="govher">
              Aşağı Gövhər Ağa məscidi Şuşa şəhərinin XIX əsrə aid mühüm dini-memarlıq abidələrindən biridir. Məscid Qarabağ xanı İbrahimxəlil xanın qızı Gövhər Ağa tərəfindən inşa etdirilmiş və şəhərin aşağı məhəlləsində yerləşdiyi üçün “Aşağı” adlanmışdır. Tikili Şuşa memarlıq üslubunun xüsusiyyətlərini daşıyır: iki minarəli quruluşu, geniş ibadət zalı və sadə, lakin zərif daş işləmələri ilə seçilir. Şəhərin dini həyatında mühüm rol oynamış bu məscid bu gün də Şuşanın tarixi irsinin dəyərli nümunəsi kimi tanınır.
            </div>
            <div class="sekil-9"></div>
     </div>

          <div class="card-10">
            <t>Gəncə İmamzadə Kompleksi</t>
            <div class="imamzade">
              Gəncə İmamzadə Kompleksi Azərbaycanın ən qədim ziyarətgahlarından biridir və VIII əsrdə İmamzadı İbrahimin türbəsi əsasında formalaşmışdır. Sonralar məscid, böyük türbə binası və müxtəlif yardımçı tikililərlə genişləndirilmişdir. Mavi kaşılarla bəzədilmiş günbəzi, geniş həyəti və klassik Şərq memarlıq xüsusiyyətləri ilə seçilir. Bu gün kompleks həm dini ziyarət yeri, həm də ölkənin mühüm tarixi-memarlıq abidələrindən biri kimi qorunur.
            </div>
            <div class="sekil-10"></div>
     </div>
</div>

<spline-viewer class="dunya" url="https://prod.spline.design/RwJ7TcFlIHxHYoy2/scene.splinecode"></spline-viewer>

<script type="module" src="https://unpkg.com/@splinetool/viewer@1.10.82/build/spline-viewer.js"></script>

<br><br><br>

<footer class="footer">
  <div class="footer-content">
    <h3>Qədim Azərbaycan</h3>
    <p>Qədim Azərbaycan Abidələri Haqqında Öyrənmək Üçün Pulsuz Sayt</p>
    <ul class="socials">
      <li><a>Facebook</a></li>
      <li><a>Instagram</a></li>
      <li><a>YouTube</a></li>
    </ul>
  </div>
  <div class="footer-bottom">
    &copy; 2025 Qədim Azərbaycan | Bütün hüquqlar qorunur
  </div>
</footer>
{% endblock %}