<!-- templates/error.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Xəta</title>
    <style>
        body {
            font-family: Arial;
            background: #f8d7da;
            color: #721c24;
            padding: 30px;
        }
        .box {
            background: white;
            padding: 20px;
            border-radius: 10px;
            max-width: 400px;
            margin: auto;
            border: 2px solid #f5c6cb;
            text-align: center;
        }
    </style>
</head>
<body>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="box">
        <h2>Xəta baş verdi!</h2>
        <p>{{ message }}</p>
        <a href="/" style="color:#721c24;">Geri qayıt</a>
    </div>
</body>
</html>